p {
  text-indent: 4em;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;

  /* Cria backgorund com degradê, precisa ter: qual a rotação de inicio do gradiente e as duas cores aplicadas (rgba(red,green,blue,tranparecia) proporção da tela que deve aprecer%)  */
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 80%, #648cbc 100%);
}
.head {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}
.head img {
  max-width: 200px;
  max-height: 100px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
}

nav {
  /* Coloca os conteudos da caixa alinhados lado a lado */
  display: flex;
  /* coloca um espaço entre os conteudos */
  justify-content: space-between;
  /* Alinha elementos ao centro */
  align-items: center;
  /* Adiciona a margem inferior */
  margin-bottom: 55px;
}

ul {
  /* Remove o ponto da lista desordenada */
  list-style: none;
  display: flex;
  /* Adiciona um espaço apenas entre os elementos */
  gap: 48px;
  /* Remove a matgem e o padding dos elementos */
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}
/* Adiciona a estilização para quando passar o mouse */
ul li a:hover {
  font-weight: bold;
  opacity: 1;
}
ul li a {
  text-decoration: none;
  color: #1f1534;
  opacity: 0.5;
}
.text h1 {
  font-family: "Mulish", sans-serif;
  font-weight: normal;
  font-size: 49px;
  line-height: 56px;
  color: #1f1534;

  width: 490px;
}
.text h1 span {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  color: #9cb4dc;
}

.text p {
  font-size: 14px;
  font-weight: normal;
  line-height: 28px;
  color: #7d7987;
  margin: 40px 10px;
  text-align: justify;
}

.text button {
  /* transforma tudo em maiusculo */
  text-transform: uppercase;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  padding: 14px 32px 15px;

  background-color: #69b99d;
  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.text button:hover {
  background: #4ea788;
}

.Comp h1 {
  text-transform: uppercase;
  /* color: #fff; */
  font-family: "DM Sans", sans-serif;
  font-size: 32px;
}

.Comp p {
  text-align: justify;
}

#Pistolas img {
  display: flex;
  align-items: center;
  margin: 40px auto 40px;
  width: 800px;
  height: auto;
}
#fotos {
  display: flex;
  text-align: center;
}
#fotos img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px auto 40px;
  width: 200px;
  height: auto;
}

#Capa img {
  display: flex;
  align-items: center;
  margin: 40px auto 40px;
  width: auto;
  height: 400px;
}
#Reguladores {
  display: flex;
  align-items: center;
}
#Reguladores img {
  justify-content: space-between;
  margin: 40px auto 40px;
  width: 250px;
  height: auto;
}
#Tinta #bomba {
  display: flex;
  align-items: center;
  margin: 40px auto 40px;
  width: 400px;
  height: auto;
}
main img {
  margin-left: 50px;
}

#Esteira img {
  display: flex;
  align-items: center;
  margin: 40px auto 40px;
  width: 400px;
  height: auto;
}

#Cabine img {
  display: flex;
  align-items: center;
  margin: 40px auto 40px;
  width: 400px;
  height: auto;
}
footer {
  text-align: center;

  font-size: 14px;
  line-height: 28px;
  color: #7d7987;

  margin-top: 80px;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: #1f1534;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}
